body {
	background-color: #2196f3;
}
.box { 
	width: 400px;
	height: 480px;
	padding: 40px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
input {
	width: 280px;
	border: 2px solid gray;
	padding: 15px;
	display: block;
	margin-bottom: 50px;
	margin-top: 20px;
}
h1 {
	text-align: center;
}
.logo {
	text-align: center;
}
.logo img{
	height: 35px;
}
.email {
	margin-bottom: 15px;
}
button {
	width: 320px;
	border: 2px solid #4caf50;
	padding: 15px;
	background-color: #4caf50;
	font-size: 20px;
	color: white;
}
button:hover {
	background-color: green;
}
.login {
	color: white;
	text-align: center;
}
a{
	color: white;

}
a:hover{
	font-size: 20px;
	color: green;
}